# vim: set filetype=zsh:

alias g="git"
alias ls="eza --color=always --git"
alias ll="eza --color=always --git --long"
alias la="eza --color=always --git --long --all"
alias k="kubectl"
alias k9s="k9s -c context"
